<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="icon"
    type="image/icon"
    href="https://www.seoulstore.com/favicon.ico"
    />
    <script
      src="https://kit.fontawesome.com/0a218c2ef9.js"
      crossorigin="anonymous"
    ></script>
    <title>서울스토어</title>
    <link rel="stylesheet" href="css/header.css" />
  </head>
  <body>
    <div class="top-banner-img">
      <a href="https://www.seoulstore.com/events/1424880"
        ><img
          src="https://images.seoulstore.com/48f1d72ac9b4cb58cb3912a6a8ef9294.jpg"
      /></a>
    </div>
    <section class="top">
      <div class="logo">
        <a href="index"
          ><h1 class="logo"><svg class="svgIcon pcLogo css-c8b6an" role="img" aria-label="SEOULSTORE" width="133" viewBox="0 0 133 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.21811 8.83195C2.62009 9.54625 3.08858 10.116 3.62648 10.5411C4.17884 10.9546 4.78614 11.1599 5.44839 11.1599C5.92556 11.1599 6.30729 11.0472 6.5936 10.8216C6.89436 10.5845 7.04474 10.2635 7.04474 9.86437C7.04474 9.53758 6.95798 9.26863 6.78157 9.05752C6.60516 8.84641 6.32465 8.64397 5.93713 8.456C5.56118 8.26802 5.05509 8.05402 4.41597 7.81688C4.08919 7.69253 3.7277 7.52769 3.32572 7.32814C2.92374 7.1286 2.53622 6.87122 2.16027 6.55889C1.79589 6.24656 1.49513 5.86483 1.25799 5.41369C1.02085 4.95098 0.902281 4.39862 0.902281 3.75951C0.902281 2.97001 1.10182 2.29908 1.5038 1.74962C1.91735 1.18569 2.46971 0.754793 3.15799 0.454033C3.85783 0.15038 4.63576 0 5.48599 0C6.3767 0 7.14017 0.144596 7.77929 0.430897C8.4184 0.72009 8.95052 1.08158 9.37563 1.52115C9.80074 1.96073 10.1275 2.40319 10.3531 2.85433L7.92967 4.20775C7.64047 3.73059 7.29633 3.35464 6.89725 3.0799C6.49527 2.79071 6.03835 2.64901 5.52647 2.64901C5.07533 2.64901 4.73119 2.75022 4.49406 2.94977C4.26849 3.13774 4.1557 3.37488 4.1557 3.66407C4.1557 4.11521 4.4073 4.48538 4.9076 4.77168C5.42236 5.04641 6.13667 5.34717 7.05052 5.67396C7.66361 5.88796 8.22175 6.17427 8.72205 6.53865C9.23682 6.88857 9.64169 7.32814 9.94245 7.85448C10.2548 8.36924 10.4109 8.98811 10.4109 9.71688C10.4109 10.6076 10.1796 11.3653 9.71688 11.9899C9.25417 12.603 8.64686 13.0744 7.89496 13.3983C7.15463 13.7106 6.37381 13.8668 5.54672 13.8668C4.6936 13.8668 3.89832 13.7164 3.16088 13.4157C2.435 13.1033 1.79589 12.6898 1.24353 12.175C0.702739 11.6516 0.289193 11.0674 0 10.4283L2.21811 8.83195ZM132.129 9.60132H128.274V13.4563H132.129V9.60132ZM21.6315 0.301025H12.8921V13.4535H21.6286V10.8421H15.9546V7.8345H21.2527V5.26068H15.9546V2.91244H21.6315V0.301025ZM23.8384 6.877C23.8384 5.86194 24.0148 4.93652 24.3647 4.09497C24.7291 3.25631 25.2294 2.52754 25.8685 1.91446C26.5192 1.30137 27.2711 0.829983 28.1242 0.506087C28.9889 0.167732 29.923 0 30.9236 0C31.9387 0 32.8785 0.167732 33.7432 0.506087C34.6079 0.832875 35.354 1.30137 35.9787 1.91446C36.6178 2.52754 37.1123 3.25631 37.4622 4.09497C37.8266 4.93363 38.0059 5.86194 38.0059 6.877C38.0059 7.89207 37.8295 8.82616 37.4796 9.67639C37.1412 10.5295 36.6525 11.267 36.0134 11.8945C35.3743 12.522 34.6224 13.0108 33.7577 13.3607C32.9046 13.6991 31.9589 13.8668 30.9207 13.8668C29.8941 13.8668 28.9484 13.6991 28.0837 13.3607C27.219 13.0108 26.4671 12.522 25.828 11.8945C25.1889 11.267 24.6944 10.5295 24.3445 9.67639C24.009 8.82616 23.8384 7.89207 23.8384 6.877ZM27.2017 6.877C27.2017 7.65493 27.3521 8.34321 27.6528 8.94473C27.9652 9.53469 28.4047 9.99739 28.9687 10.3357C29.5326 10.6741 30.1833 10.8418 30.9236 10.8418C31.6755 10.8418 32.3262 10.6741 32.8785 10.3357C33.4309 9.99739 33.856 9.53469 34.1568 8.94473C34.4691 8.34321 34.6253 7.65493 34.6253 6.877C34.6253 6.09908 34.4749 5.41658 34.1741 4.82952C33.8734 4.228 33.4482 3.75951 32.8959 3.42115C32.3435 3.08279 31.6871 2.91506 30.9236 2.91506C30.1833 2.91506 29.5326 3.08279 28.9687 3.42115C28.4047 3.75951 27.9652 4.228 27.6528 4.82952C27.3521 5.41947 27.2017 6.10197 27.2017 6.877ZM43.48 0.301025H40.3076V9.13297C40.3076 10.2348 40.5389 11.1515 41.0016 11.8774C41.4759 12.5917 42.1092 13.1238 42.8987 13.4738C43.6998 13.8237 44.5963 14.0001 45.5853 14.0001C46.5744 14.0001 47.4709 13.8237 48.2719 13.4738C49.073 13.1238 49.7063 12.5917 50.169 11.8774C50.6462 11.1486 50.8834 10.2348 50.8834 9.13297V0.301025H47.708V8.9074C47.708 9.57255 47.5287 10.1104 47.1643 10.524C46.8144 10.9375 46.2881 11.1429 45.5853 11.1429C44.8826 11.1429 44.3563 10.9375 44.0064 10.524C43.6564 10.1104 43.48 9.57255 43.48 8.9074V0.301025ZM53.9521 0.301025H57.1275V10.712H62.4081V13.4564H53.9521V0.301025ZM67.4864 10.5411C66.9485 10.116 66.48 9.54625 66.078 8.83195L63.8628 10.4254C64.152 11.0645 64.5655 11.6458 65.1034 12.1721C65.6558 12.6869 66.2949 13.1004 67.0208 13.4128C67.7582 13.7135 68.5535 13.8639 69.4066 13.8639C70.2337 13.8639 71.0145 13.7077 71.7549 13.3954C72.5068 13.0715 73.1141 12.6001 73.5768 11.987C74.0424 11.3624 74.2737 10.6047 74.2737 9.71399C74.2737 8.98811 74.1176 8.36924 73.8052 7.85448C73.5045 7.32814 73.0967 6.88857 72.582 6.53865C72.0816 6.17427 71.5235 5.88796 70.9104 5.67396C69.9937 5.34717 69.2823 5.04641 68.7675 4.77168C68.2643 4.48538 68.0156 4.11521 68.0156 3.66407C68.0156 3.37488 68.1284 3.13774 68.354 2.94977C68.594 2.75022 68.9381 2.64901 69.3893 2.64901C69.9011 2.64901 70.361 2.79071 70.76 3.0799C71.1591 3.35464 71.5033 3.73059 71.7925 4.20775L74.2159 2.85433C73.9903 2.40319 73.6635 1.96073 73.2384 1.52115C72.8133 1.08158 72.2812 0.72009 71.6421 0.430897C71.003 0.144596 70.2395 0 69.3488 0C68.4986 0 67.7206 0.15038 67.015 0.454033C66.3267 0.754793 65.7744 1.18569 65.3608 1.74962C64.9588 2.29908 64.7593 2.97001 64.7593 3.75951C64.7593 4.39862 64.8779 4.95098 65.115 5.41369C65.3521 5.86483 65.6529 6.24656 66.0173 6.55889C66.3932 6.87122 66.7807 7.1286 67.1827 7.32814C67.5847 7.52769 67.9462 7.69253 68.273 7.81688C68.9121 8.05402 69.4182 8.26802 69.7941 8.456C70.1845 8.64397 70.4651 8.84351 70.6415 9.05752C70.8179 9.26863 70.9046 9.53758 70.9046 9.86437C70.9046 10.2635 70.7543 10.5845 70.4535 10.8216C70.1672 11.0472 69.7855 11.1599 69.3083 11.1599C68.646 11.1599 68.0387 10.9546 67.4864 10.5411ZM75.627 3.15825V0.301025H86.0379V3.15825H82.4288V13.4564H79.2332V3.15825H75.627ZM87.4375 4.09497C87.0875 4.93652 86.9111 5.86194 86.9111 6.877C86.9111 7.89207 87.0818 8.82616 87.4172 9.67639C87.7671 10.5295 88.2617 11.267 88.9008 11.8945C89.5399 12.522 90.2918 13.0108 91.1565 13.3607C92.0212 13.6991 92.9668 13.8668 93.9935 13.8668C95.0317 13.8668 95.9773 13.6991 96.8304 13.3607C97.6951 13.0108 98.447 12.522 99.0862 11.8945C99.7253 11.267 100.214 10.5295 100.552 9.67639C100.902 8.82616 101.079 7.89207 101.079 6.877C101.079 5.86194 100.899 4.93363 100.535 4.09497C100.185 3.25631 99.6906 2.52754 99.0515 1.91446C98.4268 1.30137 97.6807 0.832875 96.816 0.506087C95.9513 0.167732 95.0114 0 93.9964 0C92.9958 0 92.0617 0.167732 91.197 0.506087C90.3439 0.829983 89.5919 1.30137 88.9413 1.91446C88.3021 2.52754 87.8018 3.25631 87.4375 4.09497ZM90.7256 8.94473C90.4248 8.34321 90.2744 7.65493 90.2744 6.877C90.2744 6.10197 90.4248 5.41947 90.7256 4.82952C91.0379 4.228 91.4775 3.75951 92.0414 3.42115C92.6053 3.08279 93.256 2.91506 93.9964 2.91506C94.7598 2.91506 95.4163 3.08279 95.9687 3.42115C96.521 3.75951 96.9461 4.228 97.2469 4.82952C97.5476 5.41658 97.698 6.09908 97.698 6.877C97.698 7.65493 97.5419 8.34321 97.2295 8.94473C96.9288 9.53469 96.5037 9.99739 95.9513 10.3357C95.3989 10.6741 94.7483 10.8418 93.9964 10.8418C93.256 10.8418 92.6053 10.6741 92.0414 10.3357C91.4775 9.99739 91.0379 9.53469 90.7256 8.94473ZM103.097 0.301025H107.889C109.566 0.301025 110.839 0.703003 111.704 1.50407C112.58 2.30513 113.019 3.34044 113.019 4.60421C113.019 5.50649 112.794 6.30177 112.343 6.99005C111.903 7.66676 111.252 8.16707 110.388 8.49386L113.809 13.4564H110.07L107.25 8.9074H106.273V13.4564H103.097V0.301025ZM107.664 3.00787H106.273V6.42902H107.664C108.303 6.42902 108.803 6.27864 109.167 5.97788C109.532 5.67712 109.711 5.25779 109.711 4.71989C109.711 4.16753 109.529 3.7482 109.167 3.4619C108.803 3.15825 108.303 3.00787 107.664 3.00787ZM124.379 0.301025H115.64V13.4535H124.379V10.8421H118.705V7.8345H124.003V5.26068H118.705V2.91244H124.379V0.301025Z" fill="black"></path></svg></h1></a>
      </div>
      <form class="search" action="prdSearchPro">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input
          class="search-bar"
          name="searchItem"
          placeholder="어그·꼼파뇨·스퀘어라인"
        />
      </form>
      <div class="user">
        <ul>
          <li>
            <a href="cart" class="cart">
              <i class="fa-solid fa-cart-plus"></i>
              <p class="cart-count"><%if (log == null){%> 0 <%} else{%>
                <%= cartLength %>
              <%}%>
              </p>
            </a>
          </li>
          <li class="userinfo">
            <%if (log == null){%>
            <button class="enter" onclick="location.href='login'">
              입장하기
            </button>
            <%} else{%>
            <div class="loginTrue"><p><%=name[0]%></p></div>
            &nbsp;&nbsp;
            <button class="enter" onclick="location.href='logout'">
              로그아웃</button
            ><%}%>
          </li>
        </ul>
      </div>
    </section>
    <nav>
      <ul>
        <a href="index"><li class="home">홈</li></a>
        <a href="best"><li class="sale">베스트</li></a>
        <a href="hoodie"><li class="woman">후드티</li></a>
        <a href="handbag"><li class="handbag">핸드백</li></a>
        <a href="beauty"><li class="beauty">뷰티</li></a>
        <a href="new"><li class="etc">신상</li></a>
        <li class="etc">|</li>
        <a href="#"><li class="more">더보기</li></a>
      </ul>
      <div class="search-rank">
        <p>실시간 인기 검색어</p>
        <p>7위 패딩</p>
      </div>
    </nav>
    <div class="underline"></div>
  </body>
</html>
