<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/icon"
      sizes="16x16"
      href="https://www.seoulstore.com/images/favicon/favicon_16px.jpg"
    />
    <link
      rel="icon"
      type="image/icon"
      sizes="32x32"
      href="https://www.seoulstore.com/images/favicon/favicon_32px.jpg"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="https://www.seoulstore.com/images/favicon/favicon_152px.png"
    />
    <script
      src="https://kit.fontawesome.com/0a218c2ef9.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/layout.css" />
    <title>서울스토어</title>
  </head>
  <body>
    <section class="product-info-left">
      <div class="prdImg"></div>
    </section>

    <aside class="product-info-right">
      <p class="prdName"></p>
      <p class="prdLabel"></p>
      <div class="prdPrice"></div>
    </aside>

    <section class="product-info-bottom">
      <form action="addLike">
        <button>좋아요</button>
      </form>
      <form action="addCart">장바구니에 담기</form>
      <form action="buyNow">바로구매</form>
    </section>
  </body>
</html>
